recipe-entry {
  display: block;
  position: relative;

  .panel-title {
    display: flex;
    justify-content: space-between;

    .close-btn {
      cursor: pointer;
    }
  }
  .remove {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

}
